<span class="bg-secondary">会員情報編集</span>
<%= form_with model: @customer do |f| %>
<table>
  <thead></thead>
  <tbody>
    <tr>
      <td><%= f.label "氏名" %></td>
      <td><%= f.text_field:last_name %></td>
    </tr>
  </tbody>
</table>
