<table>
  <thead>
    <tr>
      商品ID
    </tr>
    <tr>
      商品名
    </tr>
    <tr>
      税抜価格
    </tr>
  </thead>
  <% @item.each do |item| %>
  <tbody>
    <tr>
      <td>
        <%= item.id %>
      </td>
      <td>
        <%= item.name %>
      </td>
      <td>
        <%= item.price %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>
<%= paginate @item %>