<div class="container">
  <div class="row">
    <table  class="table col-4">
      <thead>
        <tr>
          <th>ジャンル検索</th>
        </tr>
        <tr>
          <td>ケーキ</td>
        </tr>
        <tr>
          <td>焼き菓子</td>
        </tr>
        <tr>
          <td>プリン</td>
        </tr>
        <tr>
          <td>キャンディ</td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <h3 class="col-8 offset-">
      ようこそ、ながのCAKEへ！</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。
    </h3>
  </div>
</div>
<div class="container">
  <div class="row">
    <h2>
      新着商品
    </h2></br></br>
    <table>
      <thead></thead>
      <tbody>
        <tr>
           <% @item.each do |item| %>
          <td></br>
            <%= item.image %>
          </td>
        </tr>
        <tr>
          <th>
            <%= item.name %>
          </th>
        </tr>
        <tr>
          <th>
            ￥<%= item.price %>
          </th>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to "すべての商品を見る>", public_items_path %>
  </div>
</div>

