    <table>
      <thead>
        <tr>
          <th>商品一覧(全<%= @item.count %>件)</th>
        </tr>
      </thead>
      <% @item.each do |item| %>
      <tbody>
        <tr>
          <td></br>
            <%= item.image %>
          </td>
        </tr>
        <tr>
          <th>
            <%= item.name %>
          </th>
        </tr>
        <tr>
          <th>
            ￥<%= item.price %>
          </th>
        </tr>
        <% end %>
      </tbody>
    </table>
